# Dependencies
node_modules/

# Environment variables
.env

# Prisma generated
backend/generated/

# Lock files
package-lock.json

# Uploads
backend/uploads/

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Uploads
backend/uploads/
